<template>
    <div class="register col-lg-12">
        <h3>Create a new account</h3>
        <div class="form-group">
            <label>Email address</label>
            <input class="form-control" v-model="email" type="text" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" v-model="password" type="password" placeholder="Password">
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary" v-on:click="registerUser">Register</a>
        </div>
        <p>Already have an account? <router-link to="/login">Log in.</router-link></p>
    </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'register',
  data: function () {
    return {}
  },
  methods: {
    registerUser: function () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
        function (user) {
          alert('Account created successfully.')
        },
        function (err) {
          alert('Oops, ' + err.message)
        }
      )
    }
  }
}
</script>

<style scoped>
    .register {
        margin-top: 40px;
        margin: 0 auto;
        max-width: 600px;
    }
    span {
        display: block;
        margin-top: 20px;
        font-size: 11px;
    }
</style>
