<template>
  <div>
    <Navigation v-if="this.$route.path !== '/login' && this.$route.path !== '/register'"/>
    <div id="app">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navigation from './components/Navigation.vue'

export default {
  name: 'App',
  data () {
    return {

    }
  },
  components: {
    Navigation
  }
}
</script>

<style>
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 100;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 6em;
  max-width: 1270px;
  padding: 0 3.4em;
}
h3 {
  font-weight: 100;
}
.btn-primary {
  background: #184e3e;
  border-color: #184e3e;
}
.btn-primary:hover {
  background: #103328;
  border-color: #103328;
}
</style>
